<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
</head>  
<body>  
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
          <a class="navbar-brand" href="#"> INVENTORY TRACKING APP </a>

    </nav>
<center>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Enter Item Details</h3>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>  
</center>

</body>  
</html>  
<!-- <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Enter Item Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Item Code:</label>  
    <div class="col-sm-4">  
      {{ form.itemcode }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Item Name:</label>  
    <div class="col-sm-4">  
      {{ form.name }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Item Category:</label>  
    <div class="col-sm-4">  
      {{ form.category }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Item Quantity:</label>  
    <div class="col-sm-4">  
      {{ form.quantity }}  
    </div>  
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Item Price:</label>  
    <div class="col-sm-4">  
      {{ form.price }}  
    </div>  
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Item Description:</label>  
    <div class="col-sm-4">  
      {{ form.description }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
<button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
  </div>  
</div>   -->